{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div id="follow" class="row bottom">
    <h1 class="ml-3 mb-1 col-1">Profile</h1>
    <h2 class="ml-3 col-2">{{user_profile.username}}</h2>
    <div class="col-1" id="followers" data-followers={{followers}}>Followers: {{followers}}</div>
    <div class="col-1">Following: {{following}}</div>
    {% if user.is_authenticated and user != user_profile %}
    <button id="follow-button" class="btn btn-primary mt-1 mb-1 ml-3 col-1"
        data-username={{user_profile.username}}>{{button}}</button>
    {% endif %}
</div>
<div id="my-posts">
    {% for post in page.object_list %}
    <div class="container col-12">
        <h3>{{post.poster}}</h3>
        {% if user == user_profile %}
        <a href="#">Edit</a>
        {% endif %}
        <p>{{post.content}}</p>
        <div class="timestamp">{{post.timestamp}}</div>
        <div class="row">
            <i class="bi bi-star ml-3 mr-1"></i>
            <div>{{post.likes}}</div>
        </div>
    </div>
    {% empty %}
    <div class="no-posts col-12">This user has no posts.</div>
    {% endfor %}
    <nav aria-label="Page navigation example" class="col-12">
        <ul class="pagination">
            {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'profile' page.previous_page_number user_profile.username %}">Previous</a></li>
            {% endif %}
            {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'profile' page.next_page_number user_profile.username %}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
{% endblock %}