.container {
    border: 0.1rem;
    border-color: lightgray;
    border-style: solid;
    margin: 1rem;
    width: auto;
    border-radius: 4px;
}

.timestamp {
    color: lightgray;
}

.username {
    font-weight: bold;
}

.no-posts {
    align-self: center;
    margin: 1rem;
}

.bottom {
    align-items: baseline;
}

.margin {
    margin: 1rem;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    font-size: 1.1rem;
    color: aqua;
}

.post:hover{
    font-size: 1.1rem;
}
