.container {
    border: 0.1rem;
    border-color: lightgray;
    border-style: solid;
    margin: 1rem;
    width: auto;
    border-radius: 4px;
}

.timestamp {
    color: lightgray;
}

.username {
    cursor: pointer;
}

.no-posts {
    align-self: center;
    margin: 1rem;
}

.page-link {
    cursor: pointer;
}
